<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/lizgehret/">Liz</a>. Liz is an astrophysics BS graduate turned programmer, aspiring to become a full-time software engineer. This is her first web application!
  </p>
  <p>
    If you want to learn how to code, and create awesome web apps like this - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>!
  </p>

  <br />
  <br />

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'liz.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Liz Gehret</h2>
      <br />
      <p>
        Liz graduated from NAU in 2016, dual majoring in physics and astronomy. She is currently working for (<a target="_blank" href="http://www.joinhandshake.com/">Handshake</a>) as a technical support specialist, and has gained experience dealing with data management, APIs, and (<a target="_blank" href="https://aws.amazon.com/">Amazon Web Services</a>). This re-ignited her desire to be in a more technical, intellectually challenging career path. Software development seemed like the perfect cross over!
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
