<h2>
  <span><u>SPLURTY / No. <%= @quote.id %></u>:</span>
  Here are the best unsolicited thoughts, ramblings, and general life advice that you can get!
</h2>

<br class="clear" />
<br />

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />